<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Général</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>default_tab</string>
			<key>Title</key>
			<string>Onglet par défaut</string>
			<key>Titles</key>
			<array>
				<string>Catégories</string>
				<string>Favoris</string>
				<string>Messages</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>FooterText</key>
			<string>&quot;Drapeaux &amp; Favoris&quot; affiche uniquement les sujets que vous suivez (⚑ + ★) qui disposent de nouvelles réponses. C&apos;est l&apos;affichage classique.

&quot;Favoris&quot; affiche tous les sujets que vous avez placé en favoris (★), qu&apos;une nouvelle réponse soit disponible ou pas. Dans ce cas, les sujets avec de nouvelles réponses sont en gras dans la liste.</string>
			<key>Key</key>
			<string>vos_sujets</string>
			<key>Title</key>
			<string>Onglet &quot;Favoris&quot;</string>
			<key>Titles</key>
			<array>
				<string>Drapeaux &amp; Favoris</string>
				<string>Favoris uniquement</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>sujets_avec_cat</string>
			<key>Title</key>
			<string>Favoris triés par catégories</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>haptics</string>
			<key>Title</key>
			<string>Retours haptiques</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>superblue</string>
			<key>Key</key>
			<string>icon</string>
			<key>Title</key>
			<string>Icône</string>
			<key>Titles</key>
			<array>
				<string>Classique Yellow</string>
				<string>Classique Red</string>
				<string>Classique Blue</string>
				<string>REDFACE</string>
				<string>REDFACE Blue</string>
				<string>Beta</string>
				<string>Blue</string>
				<string>White</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>classic</string>
				<string>classic-red</string>
				<string>superblue</string>
				<string>redface</string>
				<string>redface-blue</string>
				<string>beta</string>
				<string>blue</string>
				<string>white</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Thèmes</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Key</key>
			<string>auto_theme</string>
			<key>Title</key>
			<string>Changement de thème</string>
			<key>Titles</key>
			<array>
				<string>Automatique</string>
				<string>Manuel</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>3</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>theme</string>
			<key>Title</key>
			<string>Luminosité du thème</string>
			<key>Titles</key>
			<array>
				<string>Clair</string>
				<string>Sombre</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>theme_style</string>
			<key>Title</key>
			<string>Affichage des messages</string>
			<key>Titles</key>
			<array>
				<string>Classique</string>
				<string>Moderne</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Couleurs des thèmes</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>IASKViewControllerClass</key>
			<string>ThemeSettingsViewController</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>theme_noel_disabled</string>
			<key>Title</key>
			<string>Arrêter la magie de noël</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sujets</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>ThorHammerFilled-25</string>
			<key>IASKViewControllerClass</key>
			<string>BlackListTableViewController</string>
			<key>Title</key>
			<string>Liste noire</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Masquer les pseudos</string>
			<key>Key</key>
			<string>blacklist_hide_pseudo</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>HeartBlack-20</string>
			<key>IASKViewControllerClass</key>
			<string>WhiteListTableViewController</string>
			<key>Title</key>
			<string>Love list</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>110</integer>
			<key>Key</key>
			<string>size_text_topics</string>
			<key>Title</key>
			<string>Taille du texte des listes de topics</string>
			<key>Titles</key>
			<array>
				<string>-10%</string>
				<string>Défaut</string>
				<string>+10%</string>
				<string>+20%</string>
				<string>+30%</string>
				<string>+40%</string>
				<string>+50%</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>100</integer>
				<integer>110</integer>
				<integer>120</integer>
				<integer>130</integer>
				<integer>140</integer>
				<integer>150</integer>
				<integer>160</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>default</string>
			<key>FooterText</key>
			<string>Le réglage se trouve dans les options d&apos;accessibilité dans les réglages d&apos;iOS.</string>
			<key>Key</key>
			<string>size_text</string>
			<key>Title</key>
			<string>Taille du texte des messages</string>
			<key>Titles</key>
			<array>
				<string>Normale</string>
				<string>Système</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>sys</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>15</integer>
			<key>Key</key>
			<string>size_text_reply</string>
			<key>Title</key>
			<string>Taille du texte de réponse</string>
			<key>Titles</key>
			<array>
				<string>12 pt</string>
				<string>13 pt</string>
				<string>14 pt</string>
				<string>15 pt</string>
				<string>16 pt</string>
				<string>18 pt</string>
				<string>20 pt</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>18</integer>
				<integer>20</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>double</string>
			<key>Key</key>
			<string>size_smileys</string>
			<key>Title</key>
			<string>Taille des smileys</string>
			<key>Titles</key>
			<array>
				<string>Normale</string>
				<string>Grande</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>double</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>yes</string>
			<key>Key</key>
			<string>embedded_videos</string>
			<key>Title</key>
			<string>Afficher les vidéos</string>
			<key>Titles</key>
			<array>
				<string>Lien</string>
				<string>Intégré</string>
				<string>Intégré et lien</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>no</string>
				<string>yes</string>
				<string>both</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>no</string>
			<key>Key</key>
			<string>display_sig</string>
			<key>Title</key>
			<string>Afficher les signatures</string>
			<key>Titles</key>
			<array>
				<string>Oui</string>
				<string>Non</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>yes</string>
				<string>no</string>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Permet de synchroniser certaines données (Drapeaux MP, Blacklist) avec le script équivalent GreaseMonkey.</string>
			<key>Title</key>
			<string>Stockage MP</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Activer le stockage MP</string>
			<key>Key</key>
			<string>mpstorage_active</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>-</string>
			<key>Key</key>
			<string>mpstorage_last_rw</string>
			<key>Title</key>
			<string>Dernier acces réussi</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Réinitialiser le MP de stockage</string>
			<key>Key</key>
			<string>mpstorage_reset</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Maintenance</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Vider le cache</string>
			<key>Key</key>
			<string>EmptyCacheButton</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
